html {
	-webkit-text-size-adjust: 100%;
	overflow-x: hidden;
}

body {
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-smoothing: antialiased;
	text-rendering: auto;
	font-family: 'Noto Sans';
	font-size: 14px;
	color: color(black);
	background-color: color(white);
	overflow-x: hidden;

	@include viewport($breakpoint-mobile) {
		min-width: initial;
	}
}

.wrapper {
	width: $wrapper-size + 40px;
	max-width: 100%;
	margin: 0 auto;
	padding: 0 20px;
}

.wrap {
	position: relative;
}