@keyframes flipLeftAnime {
  from {
    transform: perspective(600px) translate3d(0, 0, 0) rotateY(5deg);
    opacity: 0;
  }

  to {
    transform: perspective(600px) translate3d(0, 0, 0) rotateY(0deg);
    opacity: 1;
  }
}

@keyframes slideLTR {
  from {
    translate: -101% 0;
    opacity: 0;
  }

  to {
    translate: 0 0;
    opacity: 1;
  }
}