.about {
  margin-bottom: 167px;

  &-title {
    margin-bottom: 70px;
    padding-left: 103px;

    @include viewport($breakpoint-mobile) {
      padding-left: 0;
    }
  }

  &-inner {
    background-color: color(blue-100);
    position: relative;
    opacity: 0;

    &.is-shown {
      animation-name: flipLeftAnime;
      animation-duration: 1s;
      animation-timing-function: $cubic-bezier;
      animation-fill-mode: forwards;
      perspective-origin: left center;
    }

    &::before,
    &::after {
      position: absolute;
      content: '';
      left: 0;
      border-style: solid;
      pointer-events: none;
    }

    &::before {
      border-color: transparent transparent color(blue-100) transparent;
      top: -66px;
      border-width: 0 29vw 66px 71vw;

      @include viewport($breakpoint-mobile) {
        border-width: 0 29vw 43px 70vw;
        top: -42px;
      }
    }

    &::after {
      border-color: color(blue-100) transparent transparent transparent;
      bottom: -66px;
      border-width: 66px 29vw 0 71vw;

      @include viewport($breakpoint-mobile) {
        border-width: 43px 29vw 0 70vw;
        bottom: -42px
      }
    }
  }

  &-link {
    color: color(white);
    font-family: $font-jost;
    font-size: 20px;
    padding: 14px 14px;
    border-bottom: 2px solid rgba(color(white), 0.5);
    display: inline-flex;
    align-items: center;
    text-transform: uppercase;
    letter-spacing: 0.25em;
    margin-left: auto;

    @include viewport($breakpoint-mobile) {
      font-size: 18px;
    }

    &:hover {

      .about-link-caret {
        background-color: color(white);

        svg {
          stroke: color(blue-100)
        }
      }

    }

    &-caret {
      margin-left: 16px;
      transition: all 0.3s $cubic-bezier;

      svg {
        stroke: color(white)
      }
    }
  }

  &-content {
    padding: 90px 0 85px 103px;

    @include viewport($breakpoint-mobile) {
      padding-left: 0;
      padding-top: 61px;
    }
  }

  &-investment {
    display: flex;
    flex-direction: column;
    margin-bottom: 42px;

    @include viewport($breakpoint-mobile) {
      margin-bottom: 60px;
    }

    &-table {
      border: 1px solid color(white);
      margin-bottom: 19px;
    }

    &-property {
      border-bottom: 1px solid color(white);
      padding: 38px 63px;

      @include viewport($breakpoint-mobile) {
        padding: 26px 27px;
      }
    }

    &-heading {
      color: color(white);
      font-size: 27px;

      @include viewport($breakpoint-mobile) {
        font-size: 20px;
        font-weight: 500;
        line-height: 2;
        letter-spacing: 0.25em;
      }
    }

    &-services {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      padding: 24px 62px;
      gap: 0 100px;

      @include viewport($breakpoint-mobile) {
        grid-template-columns: repeat(1, 1fr);
        gap: 24px;
        padding: 20px;
      }
    }

    &-par {
      color: color(white);
      font-size: 16px;
      line-height: 2.6;
      white-space: pre-line;

      @include viewport($breakpoint-mobile) {
        font-size: 14px;
        white-space: normal;
      }
    }
  }

  &-realty {

    &-heading {
      display: inline-block;
      background-color: color(white);
      color: color(blue-100);
      font-weight: 600;
      font-size: 24px;
      letter-spacing: 0.2em;
      padding: 16px 21px 19px 13px;
      margin-bottom: 42px;

      @include viewport($breakpoint-mobile) {
        font-size: 18px;
        padding: 16px 21px 13px 20px;
        margin-bottom: 24px;
      }
    }

    &-desc {
      color: color(white);
      font-size: 24px;
      font-weight: 600;
      margin-bottom: 40px;

      @include viewport($breakpoint-mobile) {
        font-size: 16px;
        letter-spacing: 0.245em;
        line-height: 2.2;
        white-space: pre-line;
        margin-bottom: 33px;
      }
    }

    &-cards {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 10px;
      margin-bottom: 35px;

      @include viewport($breakpoint-mobile) {
        grid-template-columns: repeat(1, 1fr);
        gap: 34px
      }
    }

    &-link {
      display: flex;
    }
  }

  &-main {
    margin-bottom: 172px;

    &-inner {
      padding-left: 103px;

      @include viewport($breakpoint-mobile) {
        padding-left: 0;
      }
    }
  }

  &-pledges {
    display: flex;
    justify-content: center;
    margin-bottom: 69px;
    margin-top: 38px;

    @include viewport($breakpoint-mobile) {
      margin-top: 86px;
      margin-bottom: 90px;
    }

    &-box {
      width: 487px;
      height: 443px;
      position: relative;

      @include viewport($breakpoint-mobile) {
        width: 256px;
        height: 230px;
      }

      &::before,
      &::after {
        position: absolute;
        content: '';
        border-style: solid;
        left: 50%;
        translate: -50% -50%;
      }

      &::before {
        top: 50%;
        border-width: 0 163px 280px 163px;
        border-color: transparent transparent color(gray-100) transparent;

        @include viewport($breakpoint-mobile) {
          border-width: 0px 85px 145px 85px;
        }
      }

      &::after {
        top: 52%;
        border-width: 0 130px 225px 130px;
        border-color: transparent transparent color(white) transparent;

        @include viewport($breakpoint-mobile) {
          border-width: 0 65px 110px 65px;
        }
      }
    }

    &-circle {
      position: absolute;
      display: flex;
      // opacity: 0;
      z-index: 1;
    }

    &-honest {
      top: 0;
      left: 50%;
      translate: -50% 0;

      .about-pledges-desc {
        top: 65px;
        right: -254px;

        @include viewport($breakpoint-mobile) {
          top: -65px;
          left: 50%;
          translate: -50% 0;
          right: auto;
          width: 160px;
        }
      }
    }

    &-value {
      bottom: 0;
      left: 0;

      .about-pledges-desc {
        top: 65px;
        left: -240px;

        @include viewport($breakpoint-mobile) {
          left: 50%;
          translate: -63% 0;
          width: 160px;
          top: 114px;
        }
      }
    }

    &-gratitude {
      bottom: 0;
      right: 0;

      .about-pledges-desc {
        top: 65px;
        right: -231px;

        @include viewport($breakpoint-mobile) {
          left: 50%;
          translate: -33% 0;
          right: auto;
          width: 160px;
          top: 114px;
        }
      }
    }

    &-title {
      height: 203px;
      width: 203px;
      border-radius: 50%;
      background-color: color(blue-100);
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: bold;
      font-size: 28px;
      font-family: $font-jost;
      color: color(white);
      text-transform: capitalize;
      letter-spacing: 0.1em;

      @include viewport($breakpoint-mobile) {
        width: 105px;
        height: 105px;
        font-size: 15px;
      }
    }

    &-desc {
      font-size: 20px;
      font-weight: 600;
      color: color(blue-100);
      white-space: pre-line;
      letter-spacing: 0.12em;
      line-height: 1.89;
      position: absolute;

      @include viewport($breakpoint-mobile) {
        font-size: 14px;
        text-align: center;
      }
    }
  }

  &-commitment {
    border-top: 2px solid color(gray-100);
    padding-top: 52px;
    margin-bottom: 140px;


    &-heading {
      font-size: 20px;
      font-weight: 600;
      margin-bottom: 37px;
      letter-spacing: 0.12em;

      @include viewport($breakpoint-mobile) {
        font-size: 14px;
      }
    }

    &-words {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 0 48px;
      padding-right: 46px;

      @include viewport($breakpoint-mobile) {
        padding-right: 0;
        gap: 20px;
        display: block;
      }
    }

    &-par {
      font-size: 14px;
      font-weight: 500;
      white-space: pre-line;
      letter-spacing: 0.12em;
      line-height: 2.4;

      @include viewport($breakpoint-mobile) {
        font-size: 12px;
        margin-bottom: 26px;
      }
    }
  }

  &-strengths {
    display: flex;
    flex-direction: column;
    gap: 72px 0;
    margin-top: 133px;
  }

  &-strength {
    display: flex;
    gap: 0 0;
    align-items: center;
    justify-content: space-between;

    @include viewport($breakpoint-mobile) {
      display: block;
    }

    &:first-of-type {
      .about-strength-desc::before {
        background-image: url('#{$image-path}/strength-icon1.png');
      }
    }

    &:nth-of-type(2) {
      .about-strength-desc::before {
        background-image: url('#{$image-path}/strength-icon2.png');
      }
    }

    &:nth-of-type(3) {
      .about-strength-desc::before {
        background-image: url('#{$image-path}/strength-icon3.png');
      }
    }

    &-heading {
      width: 396px;
      height: 139px;
      flex-shrink: 0;
      position: relative;
      color: color(blue-100);
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 24px;
      font-weight: 600;
      box-shadow: inset 0px 0px 0px 8px color(gray);
      position: relative;
      z-index: 1;
      letter-spacing: 0.12em;

      @include viewport($breakpoint-pc) {
        font-size: 20px;
        width: 300px;
      }

      @include viewport($breakpoint-mobile) {
        width: 100%;
        margin-bottom: 25px;
        height: 96px;
        box-shadow: inset 0px 0px 0px 5px color(gray);
      }

      &::before,
      &::after {
        position: absolute;
        content: '';
        background-color: color(white);
        z-index: -1;
      }

      &::before {
        top: 50%;
        left: 0;
        translate: 0 -50%;
        height: 52%;
        width: 100%;
      }

      &::after {
        top: 0;
        left: 50%;
        translate: -50% 0;
        width: 83%;
        height: 100%;
      }
    }

    &-desc {
      flex-shrink: 0;
      width: 580px;
      display: flex;
      align-items: center;
      font-size: 14px;
      font-weight: 500;
      letter-spacing: 0.12em;
      line-height: 2.4;
      gap: 0 20px;
      white-space: pre-line;

      @include viewport($breakpoint-pc) {
        width: 380px;
      }

      @include viewport($breakpoint-mobile) {
        width: 100%;
      }

      &::before {
        content: '';
        width: 87px;
        height: 87px;
        border-radius: 50%;
        background-color: color(gray);
        display: inline-block;
        flex-shrink: 0;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

        @include viewport($breakpoint-mobile) {
          width: 80px;
          height: 80px;
        }
      }
    }
  }
}