.banner {
  position: relative;
  z-index: 1;

  &::before {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100vw;
    content: '';
    background-color: color(gray);
    height: 280px;
    z-index: -1;

    @include viewport($breakpoint-mobile) {
      height: 127px;
    }
  }

  &-inner {
    height: 439px;
    display: flex;
    align-items: center;

    @include viewport($breakpoint-mobile) {
      flex-direction: column;
      height: auto;
    }
  }

  &-title {
    line-height: 1.6;

    &-jp {
      font-size: 28px;
    }

    &-wrap {
      width: 100%;
      padding-left: 102px;
      padding-bottom: 78px;

      @include viewport($breakpoint-mobile) {
        padding-left: 0;
        padding-bottom: 0;
      }
    }
  }

  &-frame {
    width: 639px;
    flex-shrink: 0;
    position: relative;
    height: 100%;

    @include viewport($breakpoint-mobile) {
      height: 253px;
      width: 315px;
      translate: 35px 0;
    }

    &-image {
      position: absolute;
      top: 0;
      left: 0;
      content: '';
      height: 100%;
      width: 53.8vw;
      background-position: center top;
      background-repeat: no-repeat;
      background-size: cover;

      @include viewport($breakpoint-mobile) {
        width: 100%;
        background-position: center;
      }
    }
  }
}