.books {
  position: relative;
  z-index: 1;

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    height: 100%;
    width: 100vw;
    background-color: color(gray);
    z-index: -1;
    transform: skew(0deg, -3deg);
  }

  &-inner {
    padding: 0 0 97px 103px;

    @include viewport($breakpoint-mobile) {
      padding-left: 0;
    }
  }

  &-title {
    color: color(white);

    &-en {
      font-size: 140px;
      font-weight: 500;

      @include viewport($breakpoint-mobile) {
        font-size: 78px;
      }
    }
  }

  &-catalogue {
    margin-left: 103px;
    display: flex;
    gap: 0 1px;
    width: 1121px;

    @include viewport($breakpoint-mobile) {
      width: 100%;
      margin-left: 0;

    }

    @include viewport($breakpoint-mobile-md) {
      flex-direction: column;
      gap: 32px;
    }
  }
}