.book {
  display: flex;
  gap: 0 39px;

  @include viewport($breakpoint-mobile) {
    gap: 0 30px;
  }

  &-frame {
    height: 275px;
    flex-shrink: 0;

    @include viewport($breakpoint-mobile) {
      width: 123px !important;
      height: auto;
    }

    img {
      display: block;
      width: 100%;
      object-fit: cover;
    }
  }

  &-content {
    padding-top: 10px;
  }

  &-title {
    font-size: 24px;
    font-weight: 600;
    color: color(black);
    margin-bottom: 40px;

    @include viewport($breakpoint-mobile) {
      font-size: 16px;
    }
  }

  &-desc {
    font-size: 14px;
    color: color(gray-600);
    font-weight: 500;
    margin-bottom: 21px;
    line-height: 1.4;

    @include viewport($breakpoint-mobile) {
      margin-bottom: 6px;
    }

  }

  &-author {
    font-size: 14px;
    color: color(black);
    display: block;
    margin-bottom: 54px;

    @include viewport($breakpoint-mobile) {
      margin-bottom: 23px;
    }
  }

  &-link {
    font-size: 16px;
    color: color(gray-700);
    font-weight: 500;
    text-transform: capitalize;
    border-bottom: 2px solid color(gray-700);
    padding: 0 8px 11px 3px;
    display: inline-flex;
    align-items: center;

    @include viewport($breakpoint-mobile) {
      font-size: 14px;
    }

    &-icon {
      display: inline-block;
      width: 18px;
      height: 16px;
      margin-left: 34px;

      svg {
        display: inline-block;
        width: 100%;
        height: 100%;
        stroke: color(gray-800);

      }
    }
  }
}