.company {
  margin-top: -120px;

  @include viewport($breakpoint-mobile) {
    overflow: hidden;
  }

  &-inner {
    padding-top: 120px;
    margin-bottom: 124px;

    @include viewport($breakpoint-mobile) {
      padding-top: 0;
    }
  }

  &-title {
    position: relative;
    top: -55px;

    @include viewport($breakpoint-mobile) {
      top: 0;
    }
  }

  &-banner {
    padding-left: 103px;
    position: relative;
    z-index: 1;
    height: 276px;

    // outline: 1px solid teal;
    @include viewport($breakpoint-mobile) {
      padding-left: 0;
    }

    &-img {
      position: absolute;
      height: 387px;
      width: 772px;
      bottom: 0;
      right: 0;

      @include viewport($breakpoint-mobile) {
        width: 432px;
        height: 235px;
        right: auto;
        left: 0;
      }

      img {
        display: block;
        height: 100%;
        width: 100%;
        object-fit: contain;
      }
    }

    &-bg {
      height: 100%;
      width: 100vw;
      position: absolute;
      top: 0;
      translate: -50% 0;
      left: 50%;
      z-index: -1;

      &::before {
        position: absolute;
        top: 0;
        right: 0;
        content: '';
        height: 100%;
        width: 88.3%;
        background-color: color(gray);

        @include viewport($breakpoint-mobile) {
          width: 100%;
          top: auto;
          bottom: 0;
          height: 38%;
        }
      }
    }
  }

  &-content {
    padding-left: 103px;
    display: flex;
    justify-content: space-around;
    gap: 0 15px;
    margin-bottom: 116px;

    @include viewport($breakpoint-mobile) {
      padding-left: 0;
      flex-direction: column;
    }

    &-right {
      max-width: 474px;
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 22px 0;
      padding-top: 108px;

      @include viewport($breakpoint-mobile) {
        padding-top: 42px;
        gap: 14px;
        max-width: 100%;
      }
    }

    &-left {
      // perspective: 800px;
    }
  }

  &-heading {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px 0;
    margin-top: -34px;

    &-text {
      position: relative;
      color: color(white);
      z-index: 1;
      font-size: 40px;
      font-weight: 600;
      padding: 20px 20px;
      transform: skew(1deg, 2deg);

      @include viewport($breakpoint-mobile) {
        font-size: 26px;
        padding: 13px 13px;
        transform: none;
        rotate: 0 0 -1 0deg
      }

      &::before {
        position: absolute;
        top: 0;
        left: 0;
        content: '';
        background-color: color(blue-100);
        width: 100%;
        height: 100%;
        z-index: -1;
        // transform: skew(1deg, 2deg)
      }
    }
  }

  &-desc {
    white-space: pre-line;
    font-size: 18px;
    font-family: $font-noto-sans-jp;
    line-height: 3;
    // margin-top: -35px;

    @include viewport($breakpoint-mobile) {
      transform-origin: center right;
      font-size: 14px;
      rotate: 0 0 -1 2deg
    }
  }

  &-button {
    display: block;
    font-size: 23px;
    font-weight: 600;
    color: color(white);
    background-color: color(blue-100);
    position: relative;
    padding: 75px 49px;
    letter-spacing: 0.26em;
    overflow: hidden;

    @include viewport($breakpoint-mobile) {
      font-size: 18px;
      padding: 44px 25px 45px;
    }

    &:hover {
      &::before {
        scale: 1.1;
      }
    }

    &::before {
      content: '';
      position: absolute;
      bottom: 0;
      right: 19px;
      width: 271px;
      height: 204px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      background-image: url('#{$image-path}/building-small.png');
      opacity: 0.2;
      pointer-events: none;
      transition: scale 0.5s $cubic-bezier;

      @include viewport($breakpoint-mobile) {
        width: 175px;
        height: 130px;
        right: 44px;
      }
    }

    &:first-of-type {
      &::before {
        width: 150px;
        height: 168px;
        background-image: url('#{$image-path}/icon-president.png');
        opacity: 1;
        right: 50px;
      }
    }

    &-caret {
      position: absolute;
      bottom: 0;
      right: 0;
      width: 46px;
      height: 46px;
      background-color: color(blue);
      display: flex;
      align-items: center;
      justify-content: center;

      svg {
        display: block;
        width: 6.23px;
        height: 12.47px;
        flex-shrink: 0;
      }
    }
  }

  &-property {
    padding-left: 103px;
    text-align: center;

    @include viewport($breakpoint-mobile) {
      padding-left: 0;
    }

    &-heading {
      color: color(blue-100);
      font-size: 31px;
      font-family: $font-noto-sans-jp;
      margin-bottom: 41px;
    }

    &-desc {
      font-size: 20px;
      font-family: $font-noto-sans-jp;
      color: color(black);
      letter-spacing: 0.01em;
      margin-bottom: 74px;
    }

    &-list {
      display: flex;
      gap: 0 43px;
      margin-bottom: 22px;
    }

    &-link {
      height: 157px;
      border: 2px solid color(gray-400);
      width: 100%;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        display: block;
      }

      &-icon {
        position: absolute;
        bottom: 17px;
        right: 21px;
        display: inline-block;
        width: 15px;
        height: 16px;

        svg {
          width: 100%;
          height: 100%;
          stroke: color(orange-100);
        }
      }
    }
  }

  &-notes {
    display: flex;
    padding-right: 13px;
  }

  &-note {
    margin-left: auto;
    font-size: 12px;
    color: color(gray-200)
  }

  // page

  &-main {
    padding-top: 60px;

    &-block {
      position: relative;
      padding-bottom: 154px;
    }
  }

  &-sidebar {
    position: absolute;
    top: 0;
    left: 105px;
    padding-top: 6px;
    width: 200px;
    height: 80%;
    z-index: 2;

    @include viewport($breakpoint-mobile) {
      display: none;
    }

    &-list {
      display: flex;
      flex-direction: column;
      gap: 36px 0px;
      color: rgba(color(blue-100), 0.5);
      position: relative;

      &[data-name="profile"] {
        color: rgba(color(white), 0.5)
      }

      &::before {}
    }

    &-item {
      display: flex;
      align-items: center;
      overflow: hidden;

      &.is-active {
        color: rgba(color(blue-100), 1);

        [data-name="profile"] & {
          color: color(white);
        }
      }
    }

    &-anchor {
      font-size: 18px;
      color: inherit;
      line-height: 1.5;
      display: inline-block;
      transition: color 0.3s ease-in-out;
    }

    &-icon {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      width: 24px;
      height: 24px;
      background-color: color(blue);
      margin-right: 18px;
      flex-shrink: 0;
      margin-left: -42px;
      transition: margin-left 0.3s ease-in-out;

      .is-active & {
        margin-left: 0;
      }

      svg {
        display: block;
        width: 6.14px;
        height: 10.29px;
      }
    }
  }

  &-section-label {
    display: none;
    font-size: 20px;
    font-weight: 400;
    position: relative;
    color: color(blue-100);
    padding-left: 18px;

    @include viewport($breakpoint-mobile) {
      display: block;
    }

    &::before {
      position: absolute;
      top: 50%;
      left: -20px;
      translate: 0 -50%;
      content: '';
      height: 40px;
      width: 8px;
      background-color: color(blue);
    }

    &-idea {
      margin-bottom: 29px;
    }

    &-message {
      margin-bottom: 42px;
    }

    &-profile {
      margin-bottom: 46px;
      color: color(white);

      &::before {
        background-color: color(white);
      }
    }

    &-history {
      margin-bottom: 33px;
    }

    &-conglomerate {
      margin-bottom: 31px;
    }

    &-access {
      margin-bottom: 40px;
    }
  }
}