.conglomerate {
  margin-bottom: 240px;
  @include pad-left();

  @include viewport($breakpoint-mobile) {
    margin-bottom: 97px;
  }

  &-heading {
    white-space: pre-line;
    font-size: 20px;
    font-weight: 600;
    color: color(blue-100);
    line-height: 2.5;
    letter-spacing: 0.2em;
    margin-bottom: 22px;

    @include viewport($breakpoint-mobile) {
      font-size: 18px;
    }
  }

  &-block {
    display: flex;
    gap: 0 34px;

    @include viewport($breakpoint-mobile) {
      flex-direction: column;
      gap: 34px 0;
    }
  }

  &-picture {
    width: 245px;
    flex-grow: 0;

    img {
      display: block;
      width: 100%;
      object-fit: cover;
    }
  }

  &-desc {
    white-space: pre-line;
    font-weight: 500;
    font-size: 14px;
    line-height: 2;
    letter-spacing: 0.08em;

    @include viewport($breakpoint-mobile) {
      font-size: 12px;
    }
  }
}