.footer {

  &-top {
    position: relative;
    z-index: 1;

    @include viewport($breakpoint-mobile) {
      margin-bottom: 110px;
    }

    &-inner {
      width: 1232px;
      display: flex;
      gap: 0 5px;
      margin-left: 41px;

      @include viewport($breakpoint-mobile) {
        width: 100%;
        margin-left: 0;
        display: block;
      }
    }
  }

  &-link {
    display: block;
    position: relative;
    // width: 649px;
    width: 100%;
    height: 390px;
    overflow: hidden;

    @include viewport($breakpoint-mobile) {
      height: 282px;
    }

    &.footer-recruit {
      margin-top: 74px;

      @include viewport($breakpoint-mobile) {
        margin-top: 17px;
      }
    }

    &-bg {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;

      &::before {
        position: absolute;
        content: '';
        display: block;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        opacity: 0.2;
      }

      .footer-contact & {
        background-color: color(blue-100);

        &::before {
          bottom: -14px;
          right: -99px;
          width: 502px;
          height: 419px;
          background-image: url('#{$image-path}/building-md.png');

          @include viewport($breakpoint-mobile) {
            width: 75%;
            height: 80%;
            right: 0;
          }
        }
      }

      .footer-recruit & {
        background-color: color(blue-200);

        &::before {
          right: -75px;
          bottom: -88px;
          height: 618px;
          width: 388px;
          background-image: url('#{$image-path}/professional.png');

          @include viewport($breakpoint-mobile) {
            height: 100%;
            width: 80%;
            bottom: 0;
          }
        }
      }

      span {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: block;

        @include viewport($breakpoint-mobile) {
          display: none;
        }

        &::before,
        &::after {
          position: absolute;
          content: '';
          border-style: solid;
          left: 0;
        }

        &::before {
          top: 0;
          border-width: 25px 649px 0 0;
          border-color: color(white) transparent transparent transparent;
        }

        &::after {
          bottom: 0;
          border-width: 0 649px 25px 0;
          border-color: transparent transparent color(gray) transparent;
        }
      }
    }

    &-content {
      position: relative;
      z-index: 1;
      padding: 66px 0 0 35px;

      @include viewport($breakpoint-mobile) {
        padding: 43px 20px;
      }
    }

    &-heading {
      font-size: 61px;
      // font-family: $font-jost;
      text-transform: uppercase;
      margin-bottom: 40px;
      color: color(white);

      @include viewport($breakpoint-mobile) {
        font-size: 40px;
        margin-bottom: 22px;
      }
    }

    &-desc {
      font-size: 21px;
      white-space: pre-line;
      font-weight: 600;
      letter-spacing: -0.05em;
      margin-bottom: 40px;
      line-height: 1.3;
      padding-left: 13px;
      color: color(white);

      @include viewport($breakpoint-mobile) {
        font-size: 18px;
        margin-bottom: 44px;
        padding-left: 0;
        letter-spacing: normal;
      }
    }

    &-par {
      font-size: 15px;
      padding-left: 13px;
      color: color(white);

      @include viewport($breakpoint-mobile) {
        font-size: 12px;
        padding-left: 0;
      }
    }
  }

  &-bottom {
    background-color: color(gray);
    position: relative;

    &::before {
      position: absolute;
      top: -256px;
      left: 0;
      content: '';
      border-style: solid;
      border-width: 0 100vw 256px 0;
      border-color: transparent transparent color(gray) transparent;

      @include viewport($breakpoint-mobile) {
        top: -60px;
        border-width: 0 100vw 60px 0;
      }
    }

    &-inner {
      padding-bottom: 180px;
      display: flex;
      justify-content: space-between;
      gap: 0 0px;
      padding-left: 103px;
      padding-top: 105px;

      @include viewport($breakpoint-mobile) {
        padding-left: 0;
        flex-direction: column-reverse;
        padding-bottom: 20px;
        padding-top: 66px;
      }
    }

    &-left {}

    &-right {
      width: 264px;

      @include viewport($breakpoint-mobile) {
        width: 100%;
        margin-bottom: 62px;
      }
    }
  }

  &-info {
    white-space: pre-line;
    font-size: 14px;
    font-family: $font-noto-sans-jp;
    color: color(black);
    line-height: 2.5;
    margin-bottom: 34px;

    @include viewport($breakpoint-mobile) {
      font-size: 12px;
      line-height: 3.4;
    }
  }

  &-copyright {
    color: color(gray-200);
    font-size: 14px;
  }

  &-nav {
    &-list {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 33px 69px;

      @include viewport($breakpoint-mobile) {
        gap: 33px 0;
      }
    }

    &-item {}

    &-link {
      letter-spacing: 0.12em;

      @include viewport($breakpoint-mobile) {
        font-size: 16px;
        letter-spacing: normal;
      }
    }
  }


}