.idea {
  @include pad-left();
  margin-bottom: 119px;

  &-img {
    display: block;
    width: 100%;
    margin-bottom: 39px;
    object-fit: cover;
  }

  &-heading {
    font-size: 27px;
    font-weight: 600;
    white-space: pre-line;
    color: color(blue-100);
    line-height: 2.3;
    letter-spacing: 0.2em;
    margin-bottom: 24px;
  }

  &-par {
    font-size: 14px;
    margin-bottom: 35px;
    white-space: pre-line;
    line-height: 2.4;
    color: color(black);
    font-weight: 600;
    letter-spacing: 0.12em;
  }
}