.mega-menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
  width: 100vw;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease-in-out;

  @include viewport($breakpoint-mobile) {
    padding-top: 72px;
  }

  &.is-open {
    opacity: 1;
    pointer-events: auto;
  }

  &-inner {
    padding: 0 100px;
    height: 100vh;
    background-color: color(white);

    @include viewport($breakpoint-mobile) {
      height: calc(100vh - 72px);
      padding: 0;
    }
  }

  &-list {
    width: 212px;
    display: flex;
    flex-direction: column;
    height: 100%;
    border-right: 1px solid color(blue-100);

    @include viewport($breakpoint-mobile) {
      border-right: none;
      border-top: 1px solid color(blue-100);
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      width: 100%;
      height: auto;
    }
  }

  &-item {
    height: 100%;

    &:not(:last-of-type) {
      border-bottom: 1px solid color(blue-100);
    }

    &:last-of-type {
      @include viewport($breakpoint-mobile) {
        border-bottom: 1px solid color(blue-100);
      }
    }

    &:nth-child(odd) {
      @include viewport($breakpoint-mobile) {
        border-right: 1px solid color(blue-100);
      }
    }

    &:first-child {
      display: none;

      @include viewport($breakpoint-mobile) {
        display: block;
      }
    }
  }

  &-link {
    display: flex;
    align-items: center;
    justify-content: center;
    color: color(blue-100);
    height: 100%;
    width: 100%;

    @include viewport($breakpoint-mobile) {
      font-size: 16px;
      padding: 41px 0;
    }
  }
}