.mv {
  position: relative;
  margin-top: -112px;
  margin-bottom: 88px;

  @include viewport($breakpoint-mobile) {
    margin-top: -72px;
  }

  &-image {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 948px;
    background-position: center right;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('#{$image-path}/mv-image2.png');

    @include viewport($breakpoint-mobile) {
      width: 100%;
    }

    &::before,
    &::after {
      position: absolute;
      content: '';
      border-style: solid;
      pointer-events: none;
    }

    &::before {
      top: 0;
      left: 0;
      border-width: 100vh 573px 0 0;
      border-color: color(white) transparent transparent transparent;

      @include viewport($breakpoint-mobile) {
        border-width: 160vh 221px 0 0;
      }
    }

    &::after {
      bottom: 0;
      right: 0;
      border-width: 0 0 200px 147px;
      border-color: transparent transparent color(white) transparent;

      @include viewport($breakpoint-mobile) {
        display: none;
      }
    }
  }

  &-inner {
    height: 100vh;
    display: flex;
    align-items: center;
    padding-top: 110px;

    @include viewport($breakpoint-mobile) {
      align-items: stretch;
      padding-top: 160px;
    }
  }

  &-content {
    padding-left: 103px;
    position: relative;

    @include viewport($breakpoint-mobile) {
      padding-left: 0;
      width: 100%;
    }
  }

  &-desc {
    font-size: 24px;
    color: color(blue-100);
    font-weight: 500;
    letter-spacing: 0.198em;
    margin-bottom: 100px;

    @include viewport($breakpoint-mobile) {
      font-size: 18px;
      margin-bottom: 23px;
      white-space: pre-line;
      line-height: 2.5;
    }
  }

  &-heading {
    width: 666.49px;
    height: 221.83px;
    overflow: hidden;
    position: relative;

    @include viewport($breakpoint-mobile) {
      height: 99px;
      width: 296px;
    }

    &-svg {
      display: block;
      width: 100%;
      height: 100%;

      svg {
        display: block;
        width: 100%;
        height: 100%;
      }
    }
  }

  &-cta {
    position: absolute;
    bottom: 42px;
    right: -179px;
    display: block;
    z-index: 1;

    @include viewport($breakpoint-mobile) {
      right: auto;
      left: 30px;
      bottom: 0
    }

    &::after {
      display: block;
      position: absolute;
      content: '';
      width: 478.74px;
      height: 205.04px;
      background-image: url('#{$image-path}/mv-button2.png');
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      z-index: -1;
      top: -20px;
      left: -16px;

      @include viewport($breakpoint-mobile) {
        width: 270.72px;
        height: 165.42px;
        background-image: url('#{$image-path}/mv-button2-sp.png');
      }
    }

    &-link {
      display: block;
      width: 463.93px;
      height: 190.74px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      background-image: url('#{$image-path}/mv-button.png');

      @include viewport($breakpoint-mobile) {
        background-image: url('#{$image-path}/mv-button-sp.png');
        width: 270.72px;
        height: 165.42px;
      }
    }
  }
}