.nav {
  position: relative;
  z-index: 10;

  &-list {
    display: flex;
    gap: 0 45px;
  }

  &-item {
    display: flex;
    align-items: center;
  }

  &-link {
    font-family: $font-noto-sans-jp;
    font-size: 14px;

    &.is-active {
      color: color(blue)
    }
  }

  &-cta {
    background-color: color(blue-100);
    color: color(white);
    padding: 9px 21px;
  }
}