.news {

  &-marquee {
    position: relative;
    height: 200px;

    &-block {}

    &-text {
      font-size: 200px;
      font-family: $font-jost;
      display: block;
      width: 100%;
      color: color(gray);
      white-space: nowrap;
      // width: 4500px;
      // background-color: teal;
      // margin-left: 100vw;
      // translate: 100vw 0;
    }
  }

  &-inner {
    padding: 0 0 143px 103px;
    position: relative;
    z-index: 1;
    margin-top: -64px;

    @include viewport($breakpoint-mobile) {
      padding-left: 0;
      padding-bottom: 89px;
    }
  }

  &-content {
    display: flex;
    gap: 0 56px;

    @include viewport($breakpoint-mobile) {
      flex-direction: column;
    }
  }

  &-title {
    color: color(blue-100);

    @include viewport($breakpoint-mobile) {
      margin-bottom: 4px;
    }

    &-en {
      font-size: 60px;

      @include viewport($breakpoint-mobile) {
        font-size: 40px;
      }
    }
  }

  &-list {}

  &-item {

    display: flex;
    color: color(blue-100);
    font-size: 14px;
    font-weight: 400;
    font-family: $font-noto-sans-jp;
    gap: 0 35px;
    padding: 13px 0 24px;
    position: relative;

    @include viewport($breakpoint-mobile) {
      display: block;
    }

    &:not(:last-of-type) {
      margin-bottom: 10px;

      @include viewport($breakpoint-mobile) {
        margin-bottom: 15px;
      }
    }

    &::after {
      position: absolute;
      bottom: 0;
      left: 0;
      content: '';
      width: 28px;
      height: 1px;
      background-color: color(gray-400);

      @include viewport($breakpoint-mobile) {
        bottom: -3px;
        height: 2px;
      }
    }
  }

  &-time {
    color: color(gray-300);
    font-family: $font-noto-sans-jp;
    position: relative;
    display: inline-block;

    @include viewport($breakpoint-mobile) {
      font-size: 10px;
      letter-spacing: 0.1em;
    }
  }

  &-category {
    white-space: nowrap;
    display: inline-block;

    @include viewport($breakpoint-mobile) {
      font-size: 10px;
      margin-left: 11px;
    }
  }

  &-desc {
    @include viewport($breakpoint-mobile) {
      font-size: 12px;
      margin-top: 17px;
    }
  }
}