.service {
  position: relative;

  &-inner {
    padding: 0 0 249px 103px;
    position: relative;

    @include viewport($breakpoint-mobile) {
      padding-left: 0;
      padding-bottom: 213px
    }
  }

  &-misc {
    position: absolute;
    top: 0;
    left: 554px;
    height: 100%;
    width: 1px;

    @include viewport($breakpoint-mobile) {
      display: none;
    }

    &::before {
      position: absolute;
      bottom: 0;
      left: 0;
      height: 300vh;
      width: 100%;
      content: '';
      background-color: color(blue);
      opacity: 0.2;
      rotate: -29deg;
      transform-origin: bottom right;
    }
  }

  &-title {
    margin-bottom: 49px;
  }

  &-desc {
    max-width: 744px;
    width: 100%;
    margin: 0 auto;
    font-size: 21px;
    font-weight: 600;
    letter-spacing: 0.22em;
    border-bottom: 4px solid color(gray);
    padding-bottom: 35px;
    margin-bottom: 48px;

    @include viewport($breakpoint-mobile) {
      font-size: 16px;
      text-align: center;
      padding: 0 22px;
      line-height: 2;
      padding: 0 22px 21px;
    }
  }

  &-grid {
    display: grid;
    grid-template-areas:
      "one one"
      "two three"
      "four five";
    gap: 15px;

    @include viewport($breakpoint-mobile) {
      display: flex;
      flex-direction: column;
    }

    &-link {
      background-color: color(blue-100);
      color: color(white);
      font-size: 25px;
      font-weight: bold;
      letter-spacing: 0.22em;
      position: relative;
      padding: 94px 52px 86px;

      @include viewport($breakpoint-mobile) {
        font-size: 18px;
        padding: 50px 36px 50px;
      }

      &:first-of-type {
        grid-area: one;
        font-size: 38px;
        padding: 117px 82px 105px;
        background-position: center right 122px;
        background-repeat: no-repeat;
        background-size: auto 100%;
        background-image: url(#{$image-path}/building.png);
        transition: background-size 0.5s $cubic-bezier;

        &:hover {
          background-size: auto 105%;
        }

        @include viewport($breakpoint-mobile) {
          font-size: 18px;
          padding: 72px 34px 70px;
          background-size: auto 82%;
          background-position: bottom right 8px;
        }
      }

      &:nth-child(2) {
        grid-area: two;
      }

      &:nth-child(3) {
        grid-area: three;
      }

      &:nth-child(4) {
        grid-area: four;
      }

      &:nth-child(5) {
        grid-area: five;
      }

      &-caret {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 60px;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: color(blue);

        @include viewport($breakpoint-mobile) {
          width: 46px;
          height: 46px;
        }

        svg {
          display: inline-block;
          height: 15.72px;
          width: 7.86px;
          flex-shrink: 0;
        }
      }
    }
  }

  &-main {
    margin-bottom: 120px;

    @include viewport($breakpoint-mobile) {
      margin-bottom: 78px;
    }

    &-inner {
      padding-top: 53px;
      padding-left: 103px;
      margin-bottom: 100px;

      @include viewport($breakpoint-mobile) {
        padding-left: 0;
        margin-bottom: 0;
        padding-top: 13px;
      }
    }

    &-desc {
      font-weight: 500;
      font-size: 14px;
      white-space: pre-line;
      line-height: 2.4;
      letter-spacing: 0.12em;
      margin-bottom: 50px;

      @include viewport($breakpoint-mobile) {
        font-size: 12px;
        margin-bottom: 0;
      }
    }
  }
}