.stable-value {
  position: relative;
  z-index: 1;
  margin-top: -108px;
  margin-bottom: 120px;

  &-inner {
    padding-left: 103px;

    @include viewport($breakpoint-mobile) {
      padding-left: 0;
    }
  }

  &-box {
    border: 1px solid color(gray);
    background-color: color(white);
    padding-top: 52px;
    padding-bottom: 76px;

    @include viewport($breakpoint-mobile) {
      border: none;
    }
  }

  &-heading {
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 30px;
    color: color(black);
    white-space: pre-line;
    letter-spacing: 0.12em;
    line-height: 1.85;

    @include viewport($breakpoint-mobile) {
      font-size: 16px;
    }
  }

  &-cta {
    background-color: color(blue-100);
    color: color(white);
    border-radius: 50px;
    font-size: 18px;
    font-weight: 600;
    display: block;
    margin: 0 auto 52px;
    max-width: 416px;
    width: 100%;
    padding: 23px 0;
    text-align: center;
    letter-spacing: 0.11em;

    @include viewport($breakpoint-mobile) {
      font-size: 14px;
      width: 87%;
      padding: 17px 0;
      margin-bottom: 39px;
    }
  }

  &-block {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0 0;
    position: relative;

    @include viewport($breakpoint-pc) {
      display: block;
    }

    &::before {
      position: absolute;
      width: 1px;
      height: 100%;
      content: '';
      left: 50%;
      top: 0;
      translate: -50% 0;
      background-color: color(gray);

      @include viewport($breakpoint-mobile) {
        height: 1px;
        width: 100%;
        left: 0;
        top: 47%;
        translate: 0 -50%;
      }
    }
  }

  &-col {
    padding: 0 70px;

    @include viewport($breakpoint-pc) {
      padding: 0 40px
    }

    @include viewport($breakpoint-mobile) {
      padding: 0 20px;

    }

    &:first-child {
      @include viewport($breakpoint-mobile) {
        margin-bottom: 50px;
      }
    }

    &:first-of-type {
      .stable-value-icon {
        max-width: 314px;
        height: 195px;
        background-image: url('#{$image-path}/stable-icon1.png');
      }
    }

    &:nth-of-type(2) {
      .stable-value-icon {
        max-width: 248px;
        height: 196px;
        background-image: url('#{$image-path}/stable-icon2.png');
      }
    }
  }

  &-icon {
    display: block;
    margin: 0 auto 31px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    @include viewport($breakpoint-mobile) {
      margin-bottom: 26px;
    }
  }

  &-label {
    font-weight: 600;
    font-size: 18px;
    color: color(black);
    margin-bottom: 27px;
    letter-spacing: 0.11em;

    @include viewport($breakpoint-mobile) {
      font-size: 16px;
      text-align: center;
      margin-bottom: 24px;
    }
  }

  &-desc {
    font-size: 14px;
    font-weight: 500;
    color: color(black);
    line-height: 2.46;
    letter-spacing: 0.12em;

    @include viewport($breakpoint-mobile) {
      font-size: 12px;
    }
  }
}