.title {
  display: flex;
  flex-direction: column;
  color: color(blue-100);

  &-en {
    font-size: 80px;
    font-family: 'Jost';
    text-transform: uppercase;
    letter-spacing: 0.08em;

    @include viewport($breakpoint-mobile) {
      font-size: 50px;
    }
  }

  &-jp {
    font-family: $font-noto-sans-jp;
    font-size: 31px;

    @include viewport($breakpoint-mobile) {
      font-size: 20px;
    }
  }
}

.title-alt {
  min-height: 170px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;

  &-en {
    position: absolute;
    top: 0;
    left: 0;
    // left: 50%;
    // translate: -50% 0;
    height: 170px;
    font-size: 170px;
    font-family: $font-jost;
    color: color(gray);
    // width: 100vw;
    // text-align: center;
    width: 100%;

    @include viewport($breakpoint-mobile) {
      // font-size: 32px;
    }

    span {
      text-transform: capitalize;
      white-space: nowrap;
      display: flex;
      // padding: 0 20px;
      // animation: marquee linear 40s forwards infinite
      translate: 100vw 0;
    }
  }

  &-jp {
    position: relative;
    z-index: 1;
    padding-left: 112px;
    font-size: 48px;
    font-weight: 600;
    color: color(blue-100);
    display: inline-block;

    @include viewport($breakpoint-mobile) {
      font-size: 32px;
      padding-left: 0;
    }

    span {
      letter-spacing: 0.2em;
      border-bottom: 5px solid color(blue-100);
      padding-bottom: 11px;
      display: inline-block;
    }
  }
}

@keyframes marquee {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(-120%);
  }
}